.about {
    margin-top: 5em;
    margin-bottom: 5em;
    text-align: center;
    position: relative;
}
h3 {
    margin: 1em;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#2c2c2c;
    font-size: 2.5em;
}
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 3.5em;
    color:#2c2c2c;
}